.header{
    height: var(--header-height);
    background-image: linear-gradient(#322f2f , #6e6767);
    min-width: 1102px;
    max-width: 100%;
}
.header_navbar{
    display: flex;
    justify-content: space-between;
}
.header_navbar-list{
    list-style: none;
    padding-left: 0;
    margin: 12px 0 0 0;   
}
.header_navbar-item{
    display: inline-block;
    font-size: 1.4rem;
    color: white;
    font-weight: 100;
    margin: 0 8px;
    position: relative;
    min-height: 26;
}
.header_navbar-item--has--qr:hover .header_qr{
    display: block;

}
.header_navbar-item,
.header_navbar-icon-link{
    display: inline-flex;
    align-items: center;
}

.header_navbar-item--strong{
    font-weight: 600;
}
.header_navbar-item--separate::after{
    content: "";
    display: block;
    position: absolute;
    border-left: 1px solid rgb(226, 192, 192) ;
    height: 20px;
    right: -8px;
    top: 50%;
    transform: translateY(-50%);
}
.header_navbar-item:hover,
.header_navbar-icon-link:hover{
    cursor: pointer;
    color: rgba(255, 255, 255, 0.7);
}
.header_navbar-icon-link{
    color: white;
    text-decoration: none;
}
.header_navbar-icon{
    font-size: 1.8rem;
    text-decoration: none;
    margin: 0 7px;
}
.header_navbar-tittle--no-pointer{
    cursor: text;
    color: white;
}

/* header QR code */
.header_qr{
    width: 80px;
    background-color: rgb(15, 13, 116);
    position: absolute;
    left: 0px;
    top: 150%;
    padding: 8px;
    border-radius: 2px;
    display: none;
    animation: fadeIn ease-in .3s;

}

.header_qr::before{
    position: absolute;
    left: 0;
    top: -16px;
    width: 100%;
    height: 20px;
    content:"";
    display: block;  

}

.header_qr-img{
    width: 80px;

}

.header_qr-app{
   justify-content: space-between;

}

.header_qr-app-link{
    text-decoration: none;
    color: black;

}

.header_qr-app-img{
    height: 18px;
    margin-left: 18px;

}

a{
    text-decoration: none;
    color: #ffffff;
}

/* authen modal */

.auth-form{
    width: 500px;
    background-color: white;
    overflow: hidden;
    border-radius: 5px;
}

.auth-form_container{
    padding: 0 32px;

}

.auth-form_header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 12px;
    margin-top: 10px;

}

.auth-form_heading{
    font-size: 2rem;
    font-weight: 400;
    color: black;
}

.auth-form_switch-btn{
    font-size: 1.2rem;
    font-weight: 400;
    color: rgb(15, 13, 116);
    cursor: pointer;

}

.auth-form_form{
    margin-right: 25px;
}

.auth-form_input{
    width: 100%;
    height: 40px;
    margin-top: 16px;
    padding-left: 12px;
    padding-right: 12px;
    font-size: 1.4rem;
    border-radius: 2px;
    border: 1px solid var(--border-color);
    outline: none;
}

.auth-form_input:focus{
    border-color: #888;
}

.auth-form_aside{
    margin-top: 18px;
}

.auth-form_policy-text{
    font-size: 1.2rem;
    line-height: 1.8rem;
    text-align: center;
    padding: 0 12px;
}

.auth-form_text-link{
    text-decoration: none;
    color: var(--text-color);
}

.auth-form_controls{
    margin-top: 80px;
    display: flex;
    justify-content: flex-end;
}
.auth-form_controls-back{
    margin-right: 8px;
}

.auth-form_soial{
    background-color: #F5F5F5;
    padding: 12px 36px;
    display: flex;
    justify-content: space-between;
    margin-top: 24px;
}

.auth-form_soial-icon{
    font-size: 1.2rem;
}

.auth-form_soial--facebook{
    color: white;
    background-color: #3A5A98;
}

.auth-form_soial--facebook
.auth-form_soial-icon{
    color:white;
}

.auth-form_soial-tittle{
    margin: 0 24px;
}

.auth-form_soial--google{
    color: #666;
    background-color: white;
}

.auth-form_help{
    display: flex;
    justify-content: flex-end;
}

.auth-form_help-link{
    text-decoration: none;
    font-size: 1rem;
    color: #939393;

}

.auth-form_help-separate{
    display: block;
    height: 22px;
    margin: -2px 16px 0px;
    border-left: 1px solid var(--border-color) ;

}

.auth-form_help-forgot{
    color: rgb(15, 13, 116);
}

/* header with search */

.header-with-search{
    height: var(--header-with-search-height);
    display: flex;
    align-items: center;
    margin: 0 8px;
}

.header_logo{
    width: 200px;
}

.header_logo-img{
    width: 100px;
    color: white;
}

.header_search{
    height: 40px;
    flex: 1;
    border-radius: 2px;
    background-color: white;
    display: flex;
    align-items: center;
    
}

.header_cart{
    width: 150px;
    text-align: center;
}

.header_cart-icon{
    font-size: 2.4rem;
    color: white;
}

.header_search-input{
    flex: 1;
    height: 100%;
    border: none;
    outline: none;
    font-size: 1.4rem;
    color: black;
    padding: 0 16px;

}

.header_search-select{
    border-left: 1px solid #e8e8e8;
    padding-left: 16px;
}

.header_search-select-labor{
    font-size: 1.2rem;
    color: black;
}
.header_search-select-icon{
    font-size: 1rem;
    color: #4a4a4a;
    margin: 0 14px 0 8px;
    position: relative;
    top: 1px;

}

.header_search-btn{
    background-color: rgb(41, 36, 36);
    border: none;
    height: 34px;
    width: 60px;
    border-radius: 3px;
    margin-right: 3px;
    outline: none;
}

.header_search-btn:hover{
    background-color: rgb(39, 38, 97);
    cursor: pointer;
}

.header_search-btn-icon{
    font-size: 1.4rem;
    color: white;
}
.grid__row{
    display:flex;
    flex-wrap:wrap ;
    margin-left: -5px;
    margin-right: -5px;
}
.grid__column-2-4{
    padding-left: 5px;
    padding-right: 5px;
    width:20%;
}

/*FOOTER*/
.footer{
    padding-top: 12px;
    border-top: 8px solid rgb(212, 203, 203);
}
.footer__heading{
    font-size: 1rem;
    text-transform: uppercase;
    color: #4a4a4a
}
.footer-list{
    padding-left: 0px;
    list-style: none;
}
.footer-item__link{
    text-decoration-color:none ;
    font-size: 0.8rem;
    color:#666;
    padding: 2px 0;
    display:block;
    align-items: center;
}
.footer-item__link:hover{
    color: orange;
}
.footer-item__icon{
    font-size: 1rem;
    color:#666;
    margin: -1px 8px 0 0;
}